<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.2.8/d3.min.js"></script>
    <script defer src="javascripts/main.js"></script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type='file' accept='text/plain' onchange='handleUpload(event)' /><br>
    <div>
      <ul id="output"></ul>
    </div>
  </body>
</html>
